body {
	background: gray url(../img/texture.jpg);
	background-color: rgba(10,23,55,0.8);
	font: 8px Gill Sans Extrabold, sans-serif;
}


#container {
	width: 1080px;
	margin: 0 auto; 

}

aside {
	width: 350px;
	/*background: black;*/
	float: right;
	padding-bottom: 30px;
	/*margin-top: 2px;*/
	border-radius: 18px;

}

#conteudo {
	width: 710px;
	float: left;
	background: white;
	padding: 8px;
	/*margin: 5px;*/
	margin-top: 3px;
	border-radius: 18px;
	margin-bottom: 5px;
	

}



/* Link */
a:link, a:active, a:visited {
	color: #fff;
	text-decoration: none;/*Retirar o link */
}

a:hover {
	color: #0B3B17;
}

/* Logo*/




/* Barra de Navegação */

/* Altura da Barra de navegação */
header {
	background-color: #000000;
	padding: 15px 0;
	height: 50px;
	border-radius: 18px;
}

/* formata o ul */
nav ul {
	list-style: none;/* retirar os pontoa*/
	margin: 15px;
	float: left;
	/*border: 1px solid red;*/
}

/* formata o li */
nav ul li {
	float: left;/*jogar o li para a esquerda*/
	/*border: 1px solid blue;*/
}

/* formata o a:link*/
nav ul li a:link {
	display: block;
	margin-right: 27px;
	padding-bottom: 3px;
	text-transform: uppercase;/*transfomar a letra em mauscula*/
	/*border: 1px solid green;*/
}

/*formata o a:hover*/
 nav ul li a:hover{
	border-bottom: 1px solid #535858;
}


/* Conteúdo */

#bio {
	padding: 5px 25px 5px 25px;
	/*margin: auto;*/
	border-radius: 18px;
	background: yellow;
	font-size: 10px;
}



#tema1 {
	float: left;
	width: 310px;
	margin-left: 27px;
	margin-top: 3px;
	border: 1px solid red;
	
}

#tema2 {
	float: left;
	width: 310px;
	margin-left: 27px;
	margin-top: 3px;
	border: 1px solid red;

}

#tema3 {
	float: left;
	width: 310px;
	margin-left: 27px;
	margin-top: 3px;
	border: 1px solid red;
}

#tema4 {
	float: left;
	width: 310px;
	margin-left: 27px;
	margin-top: 3px;
	border: 1px solid red;
}


/* Lateral */

iframe {
	border-radius: 12px;
}

#paragrafo-lateral {
	/*margin-top: 3px;*/
	color: white;
	font-size: 12px;
	padding: 0px 15px 0px 15px;
}

#area-lateral1 {
	background: green;
	border-radius: 12px;
	/*margin-top: 7px;*/
	/*margin-bottom: 5px;*/
	/*border: 1px solid red;*/
}

#area-lateral2 {
	background: green;
	margin-top: 7px;
	border-radius: 12px;
	padding:2px;
	/*border: 1px solid red;*/
}

#area-lateral3 {
	background: green;
	margin-top: 7px;
	border-radius: 12px;
	padding: 2px;

}

#docu1, #docu2 {
	background: grey;
	color: red;
	padding-left: 15px;
	border-radius: 12px;
	margin: 8px;

}

h1#docu0 {
	margin: 5px 6px 5px 6px;
	background: grey;
	color: red;
	padding-left: 15px;
	border-radius: 12px;
}




/* rodapé */
footer {
	clear: both;
	padding: 20px 0 30px 0;
	text-align: center;
	background: #000;
	border-radius: 12px;
}

footer>p a {
	padding: 2px 10px;
}

#rada {
	color: red;
}

