body {
	background: gray url(../img/fundo1.jpeg);
	font: 8px Gill Sans Extrabold, sans-serif;
}

#container {
	width: 1080px;
	margin: 0 auto; 
}

a:link, a:active, a:visited {
	color: #fff;
	text-decoration: none;/*Retirar o link */
}

a:hover {
	color: #0B3B17;
}

/* Logo*/




/* Barra de Navegação */

/* Altura da Barra de navegação */
header {
	background-color: #000000;
	padding: 15px 0;
	height: 50px;


}

/* formata o ul */
nav ul {
	list-style: none;/* retirar os pontoa*/
	margin: 15px;
	float: left;
	/*border: 1px solid red;*/
}

/* formata o li */
nav ul li {
	float: left;/*jogar o li para a esquerda*/
	/*border: 1px solid blue;*/
}

/* formata o a:link*/
nav ul li a:link {
	display: block;
	margin-right: 27px;
	padding-bottom: 3px;
	text-transform: uppercase;/*transfomar a letra em mauscula*/
	/*border: 1px solid green;*/
}

/*formata o a:hover*/
 nav ul li a:hover{
	border-bottom: 1px solid #535858;
}


/* Principal */

#principal {
	width: 745px;
	float: left;
}

aside {
	width: 327px;
	background: black;
	float: right;
}

#conteudo {
	background: blue;
	padding: 8px;
	/*margin: 5px;*/
}

#bio {

}



.modifir {
	color: blue;
}

footer {
	clear: both;
}